footer {
  background: $background-color;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  @include flex(flex-start, center, row);
  ul {
    flex: 1 1 40rem;
    @include flex(space-evenly, center, row);
    li {
      transition: 0.5s;
      &:hover {
        transform: translateY(-30%);
      }
    }
  }

  h4 {
    flex: 2 1 40rem;
  }
}
